<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRYPTOSPACESHIP</title>
    <!-- Style sheet link -->
    {% for css in inject_css %}
        <link href="{{ css }}" rel="stylesheet" media="all"></script>
    {% endfor %}
    <link rel="icon" type="image/png" sizes="32x32" href="/static/site/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/site/images/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600" rel="stylesheet">
</head>

<body style="overflow-y: hidden; background-size: cover;">
    <main id="site-main" role="main">
        <!-- ACA PONER CONTENIDO-->
        <div class="container overal-ranking">
            <div class="section-title">
                <h2>Overal Ranking</h2>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Ranking</th>
                            <th>Ship ID</th>
                            <th>Ship Name</th>
                            <th>Player</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ranking in rankings %}
                            {% if ranking.owner %}
                                <tr id="open-stats" style="background-color: #ffffff30; cursor:pointer;">
                                    <td><b>{{ ranking.position }}</b></td>
                                    <td><b>{{ ranking.ship.ship_id }}</b></td>
                                    <td><b>{{ ranking.ship.name }}</b></td>
                                    {% if ranking.ship.player is not None %}
                                        <td><b>{{ ranking.ship.player.user.username }}</b></td>
                                    {% else %}
                                        <td><b>non-player</b></td>
                                    {% endif %}    
                                    <td><b>{{ ranking.points }}</b></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ ranking.position }}</td>
                                    <td>{{ ranking.ship.ship_id }}</td>
                                    <td>{{ ranking.ship.name }}</td>
                                    {% if ranking.ship.player is not None %}
                                        <td>{{ ranking.ship.player.user.username }}</td>
                                    {% else %}
                                        <td>non-player</td>
                                    {% endif %}    
                                    <td>{{ ranking.points }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination-container">
                    <p>Page {{ rankings.number }} of {{ rankings.paginator.num_pages }}</p>
                    <div class="pagination">
                        <ul>
                        {% if rankings.has_previous %}
                            <li><a href="?page=1" class="arrow-prev"></a></li>
                            <!--li><a href="?page={{ rankings.previous_page_number }}" class="arrow-prev"></a></li-->
                        {% else %}
                            <li><a href="javascript:void(0);" class="arrow-prev disable"></a></li>
                        {% endif %}
                        {% if 'ellipsis_left' in pagination %}
                            <li><a href="?page={{ pagination.ellipsis_left }}">&hellip;</a></li>
                        {% endif %}
                        {% for i in pagination.range %}
                            {% if rankings.number == i %}
                                <li><a href="javascript:void(0);" class="active">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if 'ellipsis_right' in pagination %}
                            <li><a href="?page={{ pagination.ellipsis_right }}">&hellip;</a></li>
                        {% endif %}
                        {% if rankings.has_next %}
                            <!--li><a href="?page={{ rankings.next_page_number }}" class="arrow-next"></a></li-->
                            <li><a href="?page={{ rankings.paginator.num_pages }}" class="arrow-next" id="next-page-arrow"></a></li>
                        {% else %}
                            <li><a href="javascript:void(0);" class="arrow-next disable"></a></li>
                        {% endif %}                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
            <!--Sent Resources-->
    <div style="display:none">
        <div id="stats" class="modal">
            <div class="modal-container table-events">
                <div class="form-modal">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Contract Iteration History</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Gas Consumed</td>
                                <td><span id="gas"></span></td>
                            </tr>
                            <tr>
                                <td>Transactions</td>
                                <td><span id="transctions"></span> (Successful: <span id="ok"></span>, Error: <span id="error"></span>)</td>
                            </tr>

                        </tbody>
                    </table>
                    <a href="javascript:void(0);" class="closeModal"></a>
                </div>
            </div>
        </div>
    </div>
    {% for js in inject_js %}
        <script src="{{ js }}"></script>
    {% endfor %}
</body>
<script>
window.baseUrl = "{{ base_url }}";
window.gameId  = {{ game_id }};
</script>
</html>