<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Mobile-friendly viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRYPTOSPACESHIP - Events</title>
    <!-- Style sheet link -->
    {% for css in inject_css %}
        <link href="{{ css }}" rel="stylesheet" media="all"></script>
    {% endfor %}
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/site/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/site/images/favicon-16x16.png">
</head>

<body style="overflow-y: hidden; background-size: cover;">
    <main id="site-main" role="main">
        <!-- Container-->
        <div class="container messages">
            <div class="messages-page">
                <div class="tab-container" style="border-bottom:none;">
                    <div class="tabs">
                </div>
                <div class="table-container">
                    <div class="message-box">
                        <div class="table-header">
                            <div class="from-to row-header">
                                Type
                            </div>
                            <div class="subject row-header">
                                Event
                            </div>
                            <div class="date row-header">
                                Block
                            </div>
                        </div>
                        <div class="table-body">
                            {% for ei in events %}
                            {% if ei.viewed %}
                            <a class="message-content row-body" id="event" event-id={{ ei.id }} style="cursor: pointer;">
                            {% else %}
                            <a class="message-content row-body" id="event" event-id={{ ei.id }} style="background-color: #ffffff30; font-weight: 800; cursor: pointer;">
                            {% endif %}
                                <div class="from-to row-table">
                                    {{ ei.inbox_type }}
                                </div>
                                <div class="subject row-table">
                                    {% if ei.event.event_type == "AttackShipEvent" %}
                                        {% if ei.inbox_type == 'T' %}
                                            {{ ei.event.from_ship.name }} attacked you
                                        {% else %}
                                            Attack to {{ ei.to_ship.name }}
                                        {% endif %}
                                    {% elif ei.event.event_type == "SentResourcesEvent" %}
                                        {% if ei.inbox_type == 'T' %}
                                            {{ ei.event.from_ship.name }} sent you resources
                                        {% else %}
                                           Resources sent to {{ ei.to_ship.name }}
                                        {% endif %}
                                    {% elif ei.event.event_type == "FireCannonEvent" %}
                                        {% if ei.inbox_type == 'T' %}
                                            {{ ei.event.from_ship.name }} shot you
                                        {% else %}
                                           Cannon fired to {{ ei.to_ship.name }}
                                        {% endif %}
                                    {% elif ei.event.event_type == "FireCannonEventAccuracy" %}
                                        {% if ei.inbox_type == 'T' %}
                                            {{ ei.event.from_ship.name }} shot you
                                        {% else %}
                                            Cannon fired to {{ ei.to_ship.name }}
                                        {% endif %}   
                                    {% elif ei.event.event_type == "AttackPortEvent" %}
                                        {{ ei.event.from_ship.name }} attacked Port
                                    {% elif ei.event.event_type == "PortConquestEvent" %}
                                        {{ ei.event.from_ship.name }} conquest the port!!!    
                                    {% else %}
                                        {{ ei.event.event_type }}
                                    {% endif %}
                                </div>
                                <div class="date row-table">
                                    {{ ei.event.event_block }}
                                </div>
                            </a>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="pagination-container">
                        <p id="total-pages">Page {{ events.number }} of {{ events.paginator.num_pages }}</p>
                        <div class="pagination">
                            <ul>
                            {% if events.has_previous %}
                                <li><a href="?page={{ events.previous_page_number }}" class="arrow-prev"></a></li>
                            {% else %}
                                <li><a href="javascript:void(0);" class="arrow-prev disable"></a></li>
                            {% endif %}                            
                            {% for i in events.paginator.page_range %}
                                {% if events.number == i %}
                                    <li><a href="javascript:void(0);" class="active" id="page-number-{{ i }}">{{ i }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ i }}" id="page-number-{{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if events.has_next %}
                                <li><a href="?page={{ events.next_page_number }}" class="arrow-next"></a></li>
                            {% else %}
                                <li><a href="javascript:void(0);" class="arrow-next disable" id="next-page-arrow"></a></li>
                            {% endif %}                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                
                <a class="btn port-battle" href="#port-battle">Port Battle</a>
                <a class="btn ship-battle" href="#ship-battle">Ship Battle</a>
                <a class="btn sent-resources" href="#sent-resources">Sent Resources</a>
                <a class="btn cannon-fired" href="#cannon-fired">Cannon Fired</a>
            </div>
        </div>
    </main>

    <!--Port Battle-->
    <div style="display:none">
        <div id="port-battle" class="modal">
            <div class="modal-container table-events">
                <div class="form-modal">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Port Battle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="subtitle"><span id="port-battle-attacker"></span></td>
                            </tr>
                            <tr>
                                <td>Fleet</td>
                                <td><span id="port-battle-attacker-fleet"></span></td>
                            </tr>
                            <tr>
                                <td>Casualities</td>
                                <td><span id="port-battle-attacker-casualties"></span></td>
                            </tr>
                        </tbody>
                    </table>


                    <table id="port-battle-table-0">
                        <thead>
                            <tr>
                                <td colspan="2" class="subtitle">Natives</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Casualities</td>
                                <td><span id="port-battle-natives-casualties"></span></td>
                            </tr>
                        </tbody>
                    </table>

                    <div>

                        <div class="column">
                            <table id="port-battle-table-1">
                                <thead>
                                    <tr>
                                        <td colspan="2" class="subtitle"><span id="port-battle-defender-1"></span></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Fleet</td>
                                        <td><span id="port-battle-defender-1-fleet"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Casualties</td>
                                        <td><span id="port-battle-defender-1-casualties"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="column">
                            <table id="port-battle-table-2">
                                <thead>
                                    <tr>
                                        <td colspan="2" class="subtitle"><span id="port-battle-defender-2"></span></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Fleet</td>
                                        <td><span id="port-battle-defender-2-fleet"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Casualties</td>
                                        <td><span id="port-battle-defender-2-casualties"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div class="column">
                            <table id="port-battle-table-3">
                                <thead>
                                    <tr>
                                        <td colspan="2" class="subtitle"><span id="port-battle-defender-3"></span></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Fleet</td>
                                        <td><span id="port-battle-defender-3-fleet"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Casualties</td>
                                        <td><span id="port-battle-defender-3-casualties"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="column">
                            <table id="port-battle-table-4">
                                <thead>
                                    <tr>
                                        <td colspan="2" class="subtitle"><span id="port-battle-defender-4"></span></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Fleet</td>
                                        <td><span id="port-battle-defender-4-fleet"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Casualties</td>
                                        <td><span id="port-battle-defender-4-casualties"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <a href="javascript:void(0);" id="port-battle-close" class="closeModal"></a>
                </div>
            </div>
        </div>
    </div>

    <!--Ship Battle-->
    <div style="display:none">
        <div id="ship-battle" class="modal">
            <div class="modal-container table-events">
                <div class="form-modal">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Ship Battle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="subtitle"><span id="ship-battle-attacker">Escoria attacks with Predators</span></td>
                            </tr>
                            <tr>
                                <td>Fleet</td>
                                <td><span id="ship-battle-attacker-fleet"></span></td>
                            </tr>
                            <tr>
                                <td>Casualities</td>
                                <td><span id="ship-battle-attacker-casualties"></span></td>
                            </tr>
                            <tr>
                                <td>Loot</td>
                                <td>
                                    <ul>
                                        <li class="e"><span id="ship-battle-energy"></span></li>
                                        <li class="g"><span id="ship-battle-graphene"></span></li>
                                        <li class="m"><span id="ship-battle-metals"></span></li>
                                    </ul>
                                </td>
                            </tr>
       
                            <tr>
                                <td colspan="2" class="subtitle"><span id="ship-battle-defender">Pepito Defends with Hybrid</span></td>
                            </tr>
           
                            <tr>
                                <td>Fleet</td>
                                <td><span id="ship-battle-defender-fleet"></span></td>
                            </tr>
                            <tr>
                                <td>Casualities</td>
                                <td><span id="ship-battle-defender-casualties"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="javascript:void(0);" id="port-battle-close" class="closeModal"></a>
                </div>
            </div>
        </div>
    </div>

    <!--Sent Resources-->
    <div style="display:none">
        <div id="sent-resources" class="modal">
            <div class="modal-container table-events">
                <div class="form-modal">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Sent Resources</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sender</td>
                                <td><span id="sent-resources-sender"></span></td>
                            </tr>
                            <tr>
                                <td>Destination</td>
                                <td><span id="sent-resources-receiver"></span></td>
                            </tr>
                            <tr>
                                <td>Resources</td>
                                <td>
                                    <ul>
                                        <li class="e"><span id="sent-resources-energy"></span></li>
                                        <li class="g"><span id="sent-resources-graphene"></span></li>
                                        <li class="m"><span id="sent-resources-metals"></span></li>
                                    </ul>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <a href="javascript:void(0);" class="closeModal"></a>
                </div>
            </div>
        </div>
    </div>

    <!--Cannon Fired-->
    <div style="display:none">
        <div id="cannon-fired" class="modal">
            <div class="modal-container table-events">
                <div class="form-modal">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Cannon Fired</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Attacker</td>
                                <td><span id="cannon-fired-attacker"></span></td>
                            </tr>
                            <tr>
                                <td>Defender</td>
                                <td><span id="cannon-fired-defender"></span></td>
                            </tr>
                            <tr>
                                <td>Target</td>
                                <td><span id="cannon-fired-target"></span></td>
                            </tr>
                            <tr>
                                <td>Damage</td>
                                <td><span id="cannon-fired-damage"></span></td>
                            </tr>
                            <tr>
                                <td>Information</td>
                                <td><span id="cannon-fired-information"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="javascript:void(0);" class="closeModal"></a>
                </div>
            </div>
        </div>
    </div>
    {% for js in inject_js %}
        <script src="{{ js }}"></script>
    {% endfor %}
</body>
<script>
window.baseUrl = "{{ base_url }}";
</script>
</html>