{% extends "game/1.5/tpl_base_game.html" %}
{% block content %}
{% load js %}
{% load boolean %}
        <div class="row last-row">
            <div class="col-xs-12 col-md-3-et" >
                <div class="resources-container" id="resources" style="display:none;">
                    <div class="stopper"></div>
                    <div class="gauges-container">
                  
                   <!-- <h2 class="taR">Gathering modules</h2> -->
                   
                   <!-- GUAGE COMBO ENERGY-->
                    <div class="resource-combo" id="warehouse">
                        <div class="combo-top">
                            <div class="resource-title">
                                <div class="icon ic-warehouse"></div>
                                <div class="title-text" data-toggle="tooltip" data-placement="top" title="El Warehouse te permite almancenar los recursos que produces. Sube su nivel para aumentar su capacidad.">Warehouse</div>
                                <div class="resource-level"><span id="warehouse-level"></span></div>
                                <div class="resource-name">Resources Storage</div>
                            <!--<div class="resource-upgrade" id="upgrade-graphene">upgrade</div> -->
                                <div class="resource-upgrade upgrade-ready" id="upgrade-warehouse-ready">Upgrade<br>ready! <div class="icon-right ic-upgrade" ></div></div>
                                <div class="resource-upgrade upgrading" id="upgrading-warehouse" style="display: none;">Upgrading</div>
                                <div class="stopper"></div>
                            </div>
                        </div>
                        
                        <div class="combo-bottom">
                            <div class="gauge gauge-lateral" data-toggle="tooltip" data-placement="top" id="warehouse-energy-tooltip" title="">
                                <div class="gauge-reflex"></div>
                                <div class="gauge-bar energy" id="bar-energy1"></div>
                                <div class="gauge-background"></div>
                            </div>
                            <div class="amount amount-lateral">
                                <span class="amount-total" id="amount-energy1"></span>
                            </div>
                            <div class="stopper"></div>
                            <div class="gauge gauge-lateral" data-toggle="tooltip" data-placement="top" id="warehouse-graphene-tooltip" title="">
                                <div class="gauge-reflex"></div>
                                <div class="gauge-bar graphene" id="bar-graphene1"></div>
                                <div class="gauge-background" ></div>
                            </div>
                            <div class="amount amount-lateral">
                                <span class="amount-total" id="amount-graphene1"></span>
                            </div>
                            <div class="stopper"></div>
                            <div class="gauge gauge-lateral" data-toggle="tooltip" data-placement="top" id="warehouse-metals-tooltip" title="">
                                <div class="gauge-reflex"></div>
                                <div class="gauge-bar metals" id="bar-metals1"></div>
                                <div class="gauge-background"></div>
                            </div>
                            <div class="amount amount-lateral">
                                <span class="amount-total" id="amount-metals1"></span>
                            </div>
                            <div class="stopper"></div>
                        </div>
                    </div>
                   <!-- GUAGE COMBO END -->
                   
                   <!-- GUAGE COMBO Hangar-->
                    <div class="resource-combo" id="hangar">
                        <div class="combo-top">
                            <div class="resource-title">
                                <div class="icon ic-hangar"></div>
                                <div class="title-text" data-toggle="tooltip" data-placement="top" title="Construye el Hangar para crear tu flota. Cuanto más alto sea su nivel, mayor será la velocidad de producción.">Hangar</div>
                                <div class="resource-level"><span id="hangar-level"></span></div>
                                <div class="resource-name">Fleet Maker</div>
                            <!--<div class="resource-upgrade" id="upgrade-graphene">upgrade</div> -->
                                <div class="resource-upgrade upgrade-ready" id="upgrade-hangar-ready">Upgrade<br>ready! <div class="icon-right ic-upgrade" ></div></div>
                                <div class="resource-upgrade upgrading" id="upgrading-hangar" style="display: none;">Upgrading</div>
                                <div class="stopper"></div>
                            </div>
                        </div>
                        
                        <div class="combo-bottom">
                            <div class="gauge gauge-lateral" data-toggle="tooltip" data-placement="top" id="hangar-energy-tooltip" title="">
                                <div class="gauge-reflex"></div>
                                <div class="gauge-bar energy" id="bar-energy2" ></div>
                                <div class="gauge-background"></div>
                            </div>
                            <div class="amount amount-lateral">
                                <span class="amount-total" id="amount-energy2"></span>
                            </div>
                            <div class="stopper"></div>
                            <div class="gauge gauge-lateral" data-toggle="tooltip" data-placement="top" id="hangar-graphene-tooltip" title="">
                                <div class="gauge-reflex"></div>
                                <div class="gauge-bar graphene" id="bar-graphene2"></div>
                                <div class="gauge-background" ></div>
                            </div>
                            <div class="amount amount-lateral">
                                <span class="amount-total" id="amount-graphene2"></span>
                            </div>
                            <div class="stopper"></div>
                            <div class="gauge gauge-lateral" data-toggle="tooltip" data-placement="top" id="hangar-metals-tooltip" title="">
                                <div class="gauge-reflex"></div>
                                <div class="gauge-bar metals" id="bar-metals2"></div>
                                <div class="gauge-background"></div>
                            </div>
                            <div class="amount amount-lateral">
                                <span class="amount-total" id="amount-metals2"></span>
                            </div>
                            <div class="stopper"></div>
                        </div>
                    </div>
                   <!-- GUAGE COMBO END -->
                   
                   <!-- GUAGE COMBO METALS-->
                    <div class="resource-combo" id="wopr">
                        <div class="combo-top">
                            <div class="resource-title">
                                <div class="icon ic-cannon"></div>
                                <div class="title-text" data-toggle="tooltip" data-placement="top" title="">W.O.P.R.</div>
                                <div class="resource-level"><span id="wopr-level"></span></div>
                                <div class="resource-name">R & D War Plan</div>
                            <!--<div class="resource-upgrade" id="upgrade-metals">upgrade</div> -->
                                <div class="resource-upgrade upgrade-ready" id="upgrade-wopr-ready">Upgrade<br>ready! <div class="icon-right ic-upgrade"></div></div>
                                <div class="resource-upgrade upgrading" id="upgrading-wopr" style="display: none;">Upgrading</div>
                                <div class="stopper"></div>
                            </div>
                        </div>
                        
                        <div class="combo-bottom">
                            <div class="gauge gauge-lateral" data-toggle="tooltip" data-placement="top" id="wopr-energy-tooltip" title="">
                                <div class="gauge-reflex"></div>
                                <div class="gauge-bar energy" id="bar-energy3"></div>
                                <div class="gauge-background"></div>
                            </div>
                            <div class="amount amount-lateral">
                                <span class="amount-total" id="amount-energy3"></span>
                            </div>
                            <div class="stopper"></div>
                            <div class="gauge gauge-lateral" data-toggle="tooltip" data-placement="top" id="wopr-graphene-tooltip" title="">
                                <div class="gauge-reflex"></div>
                                <div class="gauge-bar graphene" id="bar-graphene3"></div>
                                <div class="gauge-background" ></div>
                            </div>
                            <div class="amount amount-lateral">
                                <span class="amount-total" id="amount-graphene3"></span>
                            </div>
                            <div class="stopper"></div>
                            <div class="gauge gauge-lateral" data-toggle="tooltip" data-placement="top" id="wopr-metals-tooltip" title="">
                                <div class="gauge-reflex"></div>
                                <div class="gauge-bar metals" id="bar-metals3"></div>
                                <div class="gauge-background"></div>
                            </div>
                            <div class="amount amount-lateral">
                                <span class="amount-total" id="amount-metals3"></span>
                            </div>
                            <div class="stopper"></div>
                        </div>
                    </div>
                   <!-- GUAGE COMBO END -->
                   
                </div> 
                </div>
            </div>
            
            
            <!-- CENTER COLUMN -->
            <div class="col-xs-12 col-md-6-et">
                <div class="shipContainer-building">
                    <div class="ship-img-building">
                        <img src="/static/images/interior.png" style="width:100%">
                    </div>
                    <div class="ship-title"><span id="ship-name"></span></div>
                </div>
                
                <!-- Nav-bar arriba
                <div class="nav-bar">
                        <div class="views-container">
                           <div class="view">
                                <a href="#">Home</a>
                            </div>
                            <div class="view selected">
                                <a href="#">Resources</a>
                            </div>
                            <div class="view">
                                <a href="map.html">Map</a>
                            </div>
                            <div class="view">
                                <a href="#">Buildings</a>
                            </div>
                            <div class="view">
                                <a href="#">Messages</a>
                            </div>
                            <div class="view">
                                <a href="#">Events</a>
                            </div>
                        </div>
                    </div> -->
            </div>
            <!-- CENTER COLUMN END -->
            
            
            <div class="col-xs-12 col-md-3-et">
               <div class="stats-container" id="stats" style="display:none;">
               
                <!-- <h2 class="taL">Stats</h2> -->
                
                    <!-- COMBO LOCATION 
                    <div class="resource-combo" id="location">
                        <div class="combo-top">
                            <div class="resource-title">
                                <div class="icon ic-location"></div>
                                <div class="title-text">location</div>
                                <div class="location-coords">( <span id="position-x"></span>, <span id="position-y"></span> )</div>
                                <div class="resource-name">Map coordinates</div>
                                <div class="stopper"></div>
                            </div>
                        </div>
                        
                    </div> -->
                   <!-- COMBO LOCATION END -->
                   
                   <!-- COMBO PRODUCTION RATIO -->
                    <div class="resource-combo" id="production-ratio">
                        <div class="combo-top">
                            <div class="resource-title">
                                <div class="icon ic-fighters"></div>
                                <div class="title-text">Fleet</div>
                                <div class="fleet-size"><span id="fleet-size"></span></div>
                                <div class="resource-name">Type: <span id="fleet-type">Hybrid</span></div>
                                <div class="build-fleet upgrade-ready" id="build-fleet-ready">Build<br>More!<div class="icon-right-2 ic-hangar"></div></div>
                                <div class="stopper"></div>
                            </div>
                            
                        </div>
                        <div class="combo-bottom">
                            <!-- RATIO LIST ITEM -->
                            <span id="fleet-design">
                            <div class="ratio-list">
                                <div class="ratio-item">
                                    <div class="icon-ratio ic-attack-mode"></div>
                                    <div class="title-text fL">Attack</div>
                                    <div class="ratio-amount fR"><span id="fleet-attack"></span></div>
                                    <div class="stopper"></div>
                                </div>
                            </div>
                            
                            <!-- RATIO LIST ITEM -->
                            <div class="ratio-list">
                                <div class="ratio-item">
                                    <div class="icon-ratio ic-defense-mode"></div>
                                    <div class="title-text fL">Defense</div>
                                    <div class="ratio-amount fR"><span id="fleet-defense"></span></div>
                                    <div class="stopper"></div>
                                </div>
                            </div>
                            
                            <!-- RATIO LIST ITEM -->
                            <div class="ratio-list">
                                <div class="ratio-item">
                                    <div class="icon-ratio ic-distance"></div>
                                    <div class="title-text fL">Distance</div>
                                    <div class="ratio-amount fR"><span id="fleet-distance"></span></div>
                                    <div class="stopper"></div>
                                </div>
                            </div>
                            <!-- RATIO LIST ITEM -->
                            <div class="ratio-list">
                                <div class="ratio-item">
                                    <div class="icon-ratio ic-load"></div>
                                    <div class="title-text fL">Load</div>
                                    <div class="ratio-amount fR"><span id="fleet-load"></span></div>
                                    <div class="stopper"></div>
                                </div>
                            </div>
                            </span>
                            <div class="ratio-list">
                                <div class="ratio-item upgrade-ready pointer" id="design-fleet-ready">
                                    <div class="icon-ratio ic-design"></div>
                                    <div class="title-text fL">Design Fleet</div>
                                    <div class="stopper"></div>
                                </div>
                            </div>
                            <div class="ratio-list">
                                <div class="ratio-item upgrade-ready pointer" id="disassemble-fleet">
                                    <div class="icon-ratio ic-design"></div>
                                    <div class="title-text fL">Dissasemble Fleet</div>
                                    <div class="stopper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <!-- COMBO PRODUCTION RATIO END -->
                   <div class="resource-combo" id="production-time">
                        <div class="combo-top">
                            <div class="resource-title">
                                <div class="icon ic-time"></div>
                                <div class="title-text">FLEET PROD. QUEUE</div>
                                <div class="queue-size"><span id="fleet-queue"></span></div>
                                <div class="resource-name">End at fleet watch</div>
                                <div class="stopper"></div>
                            </div>
                        </div>
                    </div>
                    <!-- COMBO PRODUCTION TIME -->
                        <div class="resource-combo" id="production-time">
                            <div class="combo-top">
                                <div class="resource-title">
                                    <div class="icon ic-time"></div>
                                    <div class="title-text">Watch Countdown</div>
                                    <div class="resource-name">Blocks to end </div>
                                    <div class="stopper"></div>
                                </div>
                            </div>
                            
                            <div class="watch-container watch-left">
                                    <div class="block-amount">
                                        <span id="blocks-to-build"></span>
                                    </div>
                                    <div class="block-amount-title">
                                        Build
                                    </div>
                                </div>
                                <div class="watch-container watch-right">
                                    <div class="block-amount">
                                        <span id="blocks-to-fleet-ends"></span>
                                    </div>
                                    <div class="block-amount-title">
                                        fleet
                                    </div>
                                </div>
                            
                        </div>
                   <!-- COMBO PRODUCTION TIME END -->
                
               </div> 
            </div>
        </div>  
    </div>

<!-- Modal for pannels -->
<div class="modal fade" id="modal-warehouse-upgrade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">UPGRADE AVAILABLE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
            <div class="modal-body-text">UPGRADE Warehouse to LEVEL <span id="next-warehouse-level"></span></div>
      </div>
      <div class="modal-footer">
            <div class="title-text fL">Resources Cost:</div>
            <div class="ratio-item-modal">
                <div class="icon-ratio ic-energy"></div>
                <div class="title-text fL"><span id="energy-warehouse-upgrade"></span></div>
                    
                <div class="stopper"></div>
            </div> 
            <div class="ratio-item-modal">
                <div class="icon-ratio ic-graphene"></div>
                <div class="title-text fL"><span id="graphene-warehouse-upgrade"></span></div>
                <div class="stopper"></div>
            </div>
            <div class="ratio-item-modal">
                <div class="icon-ratio ic-metals"></div>
                <div class="title-text fL"><span id="metals-warehouse-upgrade"></span></div>
                <div class="stopper"></div>
            </div>  
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="button-upgrade-warehouse" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for pannels Graphene -->
<div class="modal fade" id="modal-hangar-upgrade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">UPGRADE AVAILABLE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="modal-body-text">UPGRADE Hangar to LEVEL <span id="next-hangar-level"></span></div>
      </div>
      <div class="modal-footer">
            <div class="title-text fL">Resources Cost:</div>
            <div class="ratio-item-modal">
                <div class="icon-ratio ic-energy"></div>
                <div class="title-text fL"><span id="energy-hangar-upgrade"></span></div>
                    
                <div class="stopper"></div>
            </div> 
            <div class="ratio-item-modal">
                <div class="icon-ratio ic-graphene"></div>
                <div class="title-text fL"><span id="graphene-hangar-upgrade"></span></div>
                <div class="stopper"></div>
            </div>
            <div class="ratio-item-modal">
                <div class="icon-ratio ic-metals"></div>
                <div class="title-text fL"><span id="metals-hangar-upgrade"></span></div>
                <div class="stopper"></div>
            </div>  
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="button-upgrade-hangar" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for wopr -->
<div class="modal fade" id="modal-wopr-upgrade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">UPGRADE AVAILABLE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="modal-body-text">UPGRADE <span id="wopr-role"></span> to LEVEL <span id="next-wopr-level"></span></div>
      </div>
      <div class="modal-footer">
            <div class="title-text fL">Resources Cost:</div>
            <div class="ratio-item-modal">
                <div class="icon-ratio ic-energy"></div>
                <div class="title-text fL"><span id="energy-wopr-upgrade"></span></div>
                    
                <div class="stopper"></div>
            </div> 
            <div class="ratio-item-modal">
                <div class="icon-ratio ic-graphene"></div>
                <div class="title-text fL"><span id="graphene-wopr-upgrade"></span></div>
                <div class="stopper"></div>
            </div>
            <div class="ratio-item-modal">
                <div class="icon-ratio ic-metals"></div>
                <div class="title-text fL"><span id="metals-wopr-upgrade"></span></div>
                <div class="stopper"></div>
            </div>  
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="button-upgrade-wopr" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-wopr-upgrade-first" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">UPGRADE AVAILABLE - ROLE SELECTION</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="modal-body-text">Build WOPR - Select Role</div>

            <div class="row down">
                <div class="col-md-4">
                    <p>
                        It allows to change the production of resources by energy. And the possibility of converting any resource into another.
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        With the Crypto-Cannon you can damage other ships and eliminate them from the game. Also you can fire directly to one structure.
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        The reparer can fix other ships in any places, withstand cannon fire with half of damage.
                    </p>
                </div>
            </div>
            <div class="modal-info-box-button down">
                <div class="modal-ship-information-botton">
                    <button id="converter-selected" type="button" class="btn btn-primary">Converter</button>
                </div>
                <div class="modal-ship-information-botton">
                    <button id="cannon-selected" type="button" class="btn btn-primary">Cannon</button>
                </div>
                <div class="modal-ship-information-botton">
                    <button id="reparer-selected" type="button" class="btn btn-primary">Reparer</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
              <div class="title-text fL">Cost:</div>
              <div class="ratio-item-modal">
                  <div class="icon-ratio ic-energy"></div>
                  <div class="title-text fL"><span id="energy-wopr-upgrade-ft"></span></div>
                      
                  <div class="stopper"></div>
              </div> 
              <div class="ratio-item-modal">
                  <div class="icon-ratio ic-graphene"></div>
                  <div class="title-text fL"><span id="graphene-wopr-upgrade-ft"></span></div>
                  <div class="stopper"></div>
              </div>
              <div class="ratio-item-modal">
                  <div class="icon-ratio ic-metals"></div>
                  <div class="title-text fL"><span id="metals-wopr-upgrade-ft"></span></div>
                  <div class="stopper"></div>
              </div>  
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="modal-tx" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Order Submited</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <div class="modal-body-text">ORDER: <span id="change mode"></span></div>
                    <div class="modal-body-text">Click <a id="link-to-explorer" href="">here</a> to verify the transaction status in Etherscan</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
 </div>

<!-- Modal for Design Fleet -->
<div class="modal fade" id="modal-design-fleet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-building modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">DESIGN FLEET</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <div class="modal-body-text">Points available: <span id="available-design-points">100</span></div>
                        <div class="slidecontainer">
                            <p class="design-tag fL">Attack</p>
                            <input type="range" min="0" max="100" value="0" class="slider slider-design-attack" id="range-attack-points">
                            <p class="fR"><span id="attack-design-points"></span></p>
                        </div>
                        <div class="slidecontainer">
                            <p class="design-tag fL">Defense</p>
                            <input type="range" min="0" max="100" value="0" class="slider slider-design-defense" id="range-defense-points">
                            <p class="fR"><span id="defense-design-points"></span></p>
                        </div>
                        <div class="slidecontainer">
                                <p class="design-tag fL">Distance</p>
                                <input type="range" min="0" max="10" value="0" class="slider slider-design-distance" id="range-distance-points">
                                <p class="fR"><span id="distance-design-points"></span></p>
                        </div>
                        <div class="slidecontainer">
                                <p class="design-tag fL">Load</p>
                                <input type="range" min="0" max="8000" value="0" step="80" class="slider slider-design-load" id="range-load-points">
                                <p class="fR"><span id="load-design-points"></span></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                            <div class="modal-body-text"><span id="fleet-type-design"></span> cost </div>
                            <div class="combo-bottom">
                                    <!-- RATIO LIST ITEM -->
                                    <div class="ratio-list">
                                        <div class="ratio-item-design">
                                            <div class="icon-ratio ic-energy"></div>
                                            <div class="title-text fL">Energy</div>
                                            <div class="ratio-amount fR"><span id="energy-cost"></span></div>
                                            <div class="stopper"></div>
                                        </div>
                                    </div>
                                    
                                    <!-- RATIO LIST ITEM -->
                                    <div class="ratio-list">
                                        <div class="ratio-item-design">
                                            <div class="icon-ratio ic-graphene"></div>
                                            <div class="title-text fL">Graphene</div>
                                            <div class="ratio-amount fR"><span id="graphene-cost"></span></div>
                                            <div class="stopper"></div>
                                        </div>
                                    </div>
                                    
                                    <!-- RATIO LIST ITEM -->
                                    <div class="ratio-list">
                                        <div class="ratio-item-design">
                                            <div class="icon-ratio ic-metals"></div>
                                            <div class="title-text fL">Metals</div>
                                            <div class="ratio-amount fR"><span id="metals-cost"></span></div>
                                            <div class="stopper"></div>
                                        </div>
                                    </div>
                                    
                                </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="button-design-fleet" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for Build -->
<div class="modal fade" id="modal-build-fleet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Build Fleet</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-body">
              <div class="modal-body-text">Max: <span id="max-fleet-to-build"></span></div>
              <div class="slidecontainer">
                    <p class="build-tag fL">Fleet to Queue: </p>
                    <input type="range" min="0" max="480" value="0" step="1" class="slider-build slider-build-fleet" id="range-build-fleet">
                    <p class="fR"><span id="fleet-to-build">0</span></p>
            </div>
            </div>
            <div class="modal-footer">
                  <div class="title-text fL">Resources Cost:</div>
                  <div class="ratio-item-modal">
                      <div class="icon-ratio ic-energy"></div>
                      <div class="title-text fL"><span id="energy-build-fleet">0</span></div>
                          
                      <div class="stopper"></div>
                  </div> 
                  <div class="ratio-item-modal">
                      <div class="icon-ratio ic-graphene"></div>
                      <div class="title-text fL"><span id="graphene-build-fleet">0</span></div>
                      <div class="stopper"></div>
                  </div>
                  <div class="ratio-item-modal">
                      <div class="icon-ratio ic-metals"></div>
                      <div class="title-text fL"><span id="metals-build-fleet">0</span></div>
                      <div class="stopper"></div>
                  </div>  
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="button-build-fleet" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="modal-disassemble-fleet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">DISASSEMBLE FLEET</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="modal-body-text">You are going to disassemble your fleet</div>
                <div class="modal-body-text">Max: <span id="max-fleet-to-disassemble"></span></div>
                <div class="slidecontainer">
                    <p class="build-tag fL">Fleet to Disassemble: </p>
                    <input type="range" min="0" max="0" value="0" step="1" class="slider-build slider-build-fleet" id="range-disassemble-fleet" style="width: 44%;">
                    <p class="fR"><span id="fleet-to-disassemble">0</span></p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="title-text fL">Recycled Resources: </div>
                <div class="ratio-item-modal">
                    <div class="icon-ratio ic-graphene"></div>
                    <div class="title-text fL"><span id="graphene-disassemble-fleet">0</span></div>
                    <div class="stopper"></div>
                </div>
                <div class="ratio-item-modal">
                    <div class="icon-ratio ic-metals"></div>
                    <div class="title-text fL"><span id="metals-disassemble-fleet">0</span></div>
                    <div class="stopper"></div>
                </div>  
                 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="button-disassemble-fleet" class="btn btn-primary">Confirm</button>
            </div>

          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-upgrading" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Upgrade in Progress</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                            <div class="modal-body-text">You are currently upgrading <span id="building-upgrading"></span></div>
                        </div>
                        <div class="modal-footer">
                        
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> 

    </body>
<!-- scripts -->
    {% for js in inject_js %}
        <script src="{{ js }}"></script>
    {% endfor %}
    <script>
        window.DEBUG = true;
        window.planetOwner = {{ game_candidate }};
        window.reward = {{ game_reward }};
        window.players = {{ game_players }};
        window.gameAge = {{ last_block_number }} - {{ game_launch }};
        window.blocksToEnd = {{ game_end_block }} - {{ last_block_number }};
        
        window.gameAbi = {{ game_abi | js}};
        window.gameAddress = "{{ game_address }}";
        window.gameNetwork = {{ game_network }};
    
        window.ship = {{ ship_id }};
        window.damage = {{ damage }};
        window.in_port = {{ in_port | boolean }};
    
    
        window.warehouseLevel = {{ warehouse_level }};
        window.warehouseLoad = CSSGame.getWarehouseLoadByLevel(window.warehouseLevel,{{ game_network }});
        window.hangarLevel = {{ hangar_level }};
        window.woprLevel = {{ wopr_level }};
    
        window.grapheneStock = {{ graphene_stock }};
        window.energyStock =  {{ energy_stock }};
        window.metalsStock = {{ metal_stock }};
        
        //window.eventsCount = {{ events_count }};
    
        window.shipName = "{{ ship_name }}";
        window.qaim = {{ qaim }};
        
        window.role = {{ role }};
    
        window.fleetSize = {{ fleet_size }};
        window.fleetQueue = {{ fleet_in_production }};
        window.fleetAttack = {{ fleet_attack }};
        window.fleetDefense = {{ fleet_defense }};
        window.fleetDistance = {{ fleet_distance }};
        window.fleetLoad = {{ fleet_load }};
    
        window.fleetType = "{{ fleet_type }}";
    
        window.energyProduction = {{ energy_production }};
    
        window.fleetEnergyCost = {{ fleet_energy_cost }};
        window.fleetGrapheneCost = {{ fleet_graphene_cost }};
        window.fleetMetalsCost = {{ fleet_metals_cost }};

        window.blocksToEndProduction = {{ fleet_blocks_to_end }};
    
        window.buildingBlock = {{ countdown_buildings }};
    
        window.buildingUpgrading = {{ building_upgrading }};
        
        window.base_url = "{{ base_url }}";
        window.explorer_url = "{{ explorer_url }}";
        window.game = {{ game_id }};
        

        window.roleSelected = 'undefined';

        </script>

{% endblock %}
