{% extends "game/1.5/tpl_base_game.html" %}
{% block content %}
{% load js %}
{% load boolean %}
        <div class="row last-row">
            <div class="col-xs-12 col-md-3-et">
                <div class="resources-container" id="resources" style="display:none;">
                        <!-- <h2 class="taR">Strategic Control</h2> -->
                        <div class="combo-bottom">
                            <span class="gauge-lateral">Energy to change mode</span>
                            <div class="gauge gauge-lateral">
                                <div class="gauge-reflex"></div>
                                <div class="gauge-bar energy" id="bar-energy-mode" style="width: 100%;"></div>
                                <div class="gauge-background"></div>
                            </div>
                            <div class="amount amount-lateral">
                                <span class="amount-total" id="amount-energy-mode">100%</span>
                            </div>
                            <div class="stopper"></div>
                        </div>

                        <div class="resource-combo" id="location">
                         
                            <div id="button-attack-mode" class="ship-mode">
                                 <div class="icon-ratio-mode ic-attack-mode"></div>
                                 <div class="title-text fL">Attack Mode</div>
                                 <div class="stopper"></div>
                             </div>
                             
                            <div id="button-defense-mode" class="ship-mode">
                                    <div class="icon-ratio-mode ic-defense-mode"></div>
                                    <div class="title-text fL">Defense Mode</div>
                                    <div class="stopper"></div>
                            </div>
                            
                            <div id="button-movemment-mode" class="ship-mode">
                                    <div class="icon-ratio-mode ic-move-mode"></div>
                                    <div class="title-text fL">Move Mode</div>
                                    <div class="stopper"></div>
                            </div>
                            
                            <div id="button-default-mode" class="ship-mode">
                                    <div class="icon-ratio-mode ic-default-mode"></div>
                                    <div class="title-text fL">Default Mode</div>
                                    <div class="stopper"></div>
                            </div>  
                        </div>
                        <div class="stopper"></div>

                        <div class="resource-combo left-col" id="location">
                                <div class="combo-top">
                                    <div class="resource-title">
                                        <div class="icon ic-point"></div>
                                        <div class="title-text">Map Browse</div>
                                     
                                        <div class="stopper"></div>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                                
                                <input type="text" class="form-control input-map-axis" id="go-to-x">
                                <input type="text" class="form-control input-map-axis" id="go-to-y">
                                <div class="view" id="button-go">GO</div>
                        </div>
               <!--     <div class="gauges-container">
                        
                       
                    </div> -->
                </div>
            </div>
            
            
            <!-- CENTER COLUMN -->
            <div class="col-xs-12 col-md-6-et">
                
                <!-- MAP -->   
                <div class="view" id="mapView">Perspective</div>
                <div class="mapContainer" style="display: block;">
                    
                    <div class="scene">
                      <div class="arrow" id="button-arrow-up"><img class="img-pointer" src="/static/images/ua.svg"></div>
                      <div class="arrow" id="button-arrow-up-end" style="display: none;"><img class="img-not-allowed" src="/static/images/ue.svg"></div>
                      <div class="arrow-left" id="button-arrow-left"><img class="img-pointer" src="/static/images/la.svg"></div>
                      <div class="arrow-left" id="button-arrow-left-end" style="display: none;"><img class="img-not-allowed" src="/static/images/le.svg"></div>
                      <div class="panel p3d" id="map_position_0">1,1</div>
                      <div class="panel p3d" id="map_position_7">1,1</div>
                      <div class="panel p3d" id="map_position_14">2,1</div>
                      <div class="panel p3d" id="map_position_21">3,1</div>
                      <div class="panel p3d" id="map_position_28">4,1</div>
                      <div class="panel p3d" id="map_position_35">5,1</div>
                      <div class="panel p3d" id="map_position_42">6,1</div>
                                           
                      <div class="arrow-right" id="button-arrow-right"><img class="img-pointer" src="/static/images/ra.svg"></div>
                      <div class="arrow-right" id="button-arrow-right-end" style="display: none;"><img class="img-not-allowed" src="/static/images/re.svg"></div>
                      <div class="panel p3d" id="map_position_1">7,1</div>
                      <div class="panel p3d" id="map_position_8">1,2</div>
                      <div class="panel p3d" id="map_position_15">2,2</div>
                      <div class="panel p3d" id="map_position_22">3,2</div>
                      <div class="panel p3d" id="map_position_29">4,2</div>
                      <div class="panel p3d" id="map_position_36">5,2</div>
                      <div class="panel p3d" id="map_position_43">6,2</div>

                      <div class="panel p3d" id="map_position_2">7,2</div>
                      <div class="panel p3d" id="map_position_9">1,3</div>
                      <div class="panel p3d" id="map_position_16">2,3</div>
                      <div class="panel p3d" id="map_position_23">3,3</div>
                      <div class="panel p3d" id="map_position_30">4,3</div>
                      <div class="panel p3d" id="map_position_37">5,3</div>
                      <div class="panel p3d" id="map_position_44">6,3</div>
                      
                      <div class="panel p3d" id="map_position_3">7,3</div>
                      <div class="panel p3d" id="map_position_10">1,4</div>
                      <div class="panel p3d" id="map_position_17">2,4</div>
                      <div class="panel p3d" id="map_position_24">3,4</div>
                      <div class="panel p3d" id="map_position_31">4,4</div>
                      <div class="panel p3d" id="map_position_38">5,4</div>
                      <div class="panel p3d" id="map_position_45">6,4</div>

                      <div class="panel p3d" id="map_position_4">7,4</div>           
                      <div class="panel p3d" id="map_position_11">1,5</div>
                      <div class="panel p3d" id="map_position_18">2,5</div>
                      <div class="panel p3d" id="map_position_25">3,5</div>
                      <div class="panel p3d" id="map_position_32">4,5</div>
                      <div class="panel p3d" id="map_position_39">5,5</div>
                      <div class="panel p3d" id="map_position_46">6,5</div>

                      <div class="panel p3d" id="map_position_5">7,5</div>
                      <div class="panel p3d" id="map_position_12">1,6</div>
                      <div class="panel p3d" id="map_position_19">2,6</div>
                      <div class="panel p3d" id="map_position_26">3,6</div>
                      <div class="panel p3d" id="map_position_33">4,6</div>
                      <div class="panel p3d" id="map_position_40">5,6</div>
                      <div class="panel p3d" id="map_position_47">6,6</div>

                      <div class="panel p3d" id="map_position_6">7,6</div>
                      <div class="panel p3d" id="map_position_13">1,7</div>
                      <div class="panel p3d" id="map_position_20">2,7</div>
                      <div class="panel p3d" id="map_position_27">3,7</div>
                      <div class="panel p3d" id="map_position_34">4,7</div>
                      <div class="panel p3d" id="map_position_41">5,7</div>
                      <div class="panel p3d" id="map_position_48">6,7</div>
                      

                      <div class="arrow" id="button-arrow-down"><img class="img-pointer" src="/static/images/da.svg"></div>
                      <div class="arrow" id="button-arrow-down-end" style="display: none;"><img class="img-not-allowed" src="/static/images/de.svg"></div>
                      <div class="stopper"></div>
                    </div>
                    <div class="stopper"></div>
                    
                </div>
                <!-- MAP END -->
                
                <!-- NAV 
                <div class="stopper"></div>
                <div class="nav-bar">
                    <div class="views-container">
                       <div class="view">
                            <a href="#">Home</a>
                        </div>
                        <div class="view ">
                            <a href="resources.html">Resources</a>
                        </div>
                        <div class="view selected">
                            <a href="#">Map</a>
                        </div>
                        <div class="view">
                            <a href="#">Buildings</a>
                        </div>
                        <div class="view">
                            <a href="#">Messages</a>
                        </div>
                        <div class="view">
                            <a href="#">Events</a>
                        </div>
                    </div>
                </div>
                 NAV END -->
            </div>
            <!-- CENTER COLUMN END -->
            
            
            <div class="col-xs-12 col-md-3-et">
               <div class="stats-container" id="stats" style="display:none;">
               
                <!-- <h2 class="taL">Nostromo 01</h2> -->
                
                    <!-- COMBO LOCATION -->
                    <div class="resource-combo" id="location">
                        <div class="combo-top">
                            <div class="resource-title">
                                <div class="icon ic-location"></div>
                                <div class="title-text">Location</div>
                                <div class="location-coords">( <span id="location-coord-x">4</span>, <span id="location-coord-y">4</span>)</div>
                                <div class="resource-name">(<span id="location-place">Open Space</span>)</div>
                                <div class="stopper"></div>
            
            <!-- GO! 
                                <div class="inputCont">
                                    <input type="text" id="coord1" class="inputCoords">
                                    </div>
                                    <div class="inputCont"><input type="text" id="coord2" class="inputCoords"></div>
                                    <div class="view" id="goTo">GO!</div>
                                
                                
                                </div> -->
                            </div>
                        </div>
    
                    </div>
                   <!-- COMBO LOCATION END -->
                   
                   <!-- COMBO STARFIGHTERS -->
                    <div class="resource-combo" id="location">
                        <div class="combo-top">
                            <div class="resource-title">
                                <div class="icon ic-fighters"></div>
                                <div class="title-text"><span id="fleet-type-name"></span></div>
                                <div class="location-coords"><span id="fleet-size"></span></div>
                                <div class="resource-name">(<span id="fleet-status">ready for combat</span>)</div>
                                <div class="stopper"></div>
                            </div>
                        </div>
                    </div>
                   <!-- COMBO LOCATION END -->
                   
                   
                   <!-- COMBO PRODUCTION TIME -->
                        <div class="resource-combo" id="production-time">
                            <div class="combo-top">
                                <div class="resource-title">
                                    <div class="icon ic-time"></div>
                                    <div class="title-text">Action Countdown</div>
                                    <div class="resource-name">Blocks to</div>
                                    <div class="stopper"></div>
                                </div>
                            </div>
                            
                            <div class="combo-bottom">
                                <div class="watch-container watch-left">
                                    <div class="block-amount">
                                        <span id="blocks-to-move"></span>
                                    </div>
                                    <div class="block-amount-title">
                                        Move
                                    </div>
                                </div>
                                <div class="watch-container watch-right">
                                    <div class="block-amount">
                                        <span id="blocks-to-fleet"></span>
                                    </div>
                                    <div class="block-amount-title">
                                        Fleet
                                    </div>
                                </div>
                                <div class="watch-container watch-left">
                                    <div class="block-amount">
                                        <span id="blocks-to-mode"></span>
                                    </div>
                                    <div class="block-amount-title">
                                        mode
                                    </div>
                                </div>
                                <div class="watch-container watch-right" id="cannon-reparer-watch">
                                    <div class="block-amount">
                                        <span id="blocks-to-fire"></span>
                                    </div>
                                    <div class="block-amount-title" id="fire-reparer">
                                        fire
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                   <!-- COMBO PRODUCTION TIME END -->
                
               </div> 
            </div>
            <div class="stopper"></div>
        </div> 
    </div>

<!-- Modal for pannels -->
<!-- Modal for Mode -->
    <!-- Attack -->
    <div class="modal fade" id="modalAttackMode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Change to Attack Mode</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <div class="modal-body-text"><span id="attack-mode-shipname"></span></div>
                    <ul class="list-group">
                    <li class="list-group-item"><span class="bonus-mode-up">+25%</span><span class="bonus-text">Attack power for Battle Ships</span></li>
                    <li class="list-group-item"><span class="bonus-mode-up">+50%</span><span class="bonus-text">Distance for Battle Ships</span></li>
                    <li class="list-group-item"><span class="bonus-mode-down">-5%</span><span class="bonus-text">Defense power for Battle Ship</span></li>
                    <li class="list-group-item"><span class="bonus-mode-down">-25%</span><span class="bonus-text">Movemment range for "Ship Name"</span></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    
                        <div class="title-text fL">Resources Cost:</div>
                        <div class="ratio-item-modal">
                                <div class="icon-ratio ic-energy"></div>
                                <div class="title-text fL">2000</div>
                                
                                <div class="stopper"></div>
                        </div> 
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="confirm-change-attack-mode" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Defense -->
    <div class="modal fade" id="modalDefenseMode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Change to Defense Mode</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div class="modal-body-text"><span id="defense-mode-shipname"></span></div>
                        <ul class="list-group">
                        <li class="list-group-item"><span class="bonus-mode-up">+30%</span><span class="bonus-text">Defense power for Battle Ships</span></li>
                        <li class="list-group-item"><span class="bonus-mode-down">-10%</span><span class="bonus-text">Attack power for Battle Ship</span></li>
                        <li class="list-group-item"><span class="bonus-mode-down">-100%</span><span class="bonus-text">Movemment range for "Ship Name"</span></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        
                            <div class="title-text fL">Resources Cost:</div>
                            <div class="ratio-item-modal">
                                    <div class="icon-ratio ic-energy"></div>
                                    <div class="title-text fL">2000</div>
                                    
                                    <div class="stopper"></div>
                                </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="confirm-change-defense-mode" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- Movement -->
    <div class="modal fade" id="modalMovemmentMode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Change to Movemment Mode</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body" id="modal-body">
                        <div class="modal-body-text"><span id="movemment-mode-shipname"></span></div>
                        <ul class="list-group">
                        <li class="list-group-item"><span class="bonus-mode-up">+50%</span><span class="bonus-text">Movemment range for "Ship Name"</span></li>
                        <li class="list-group-item"><span class="bonus-mode-down">-10%</span><span class="bonus-text">Attack power for Battle Ship</span></li>
                        <li class="list-group-item"><span class="bonus-mode-down">-10%</span><span class="bonus-text">Defense power for Battle Ship</span></li>
                        </ul>
                    </div>
                    <div class="modal-footer">

                            <div class="title-text fL">Resources Cost:</div>
                            <div class="ratio-item-modal">
                                    <div class="icon-ratio ic-energy"></div>
                                    <div class="title-text fL">2000</div>
                                    
                                    <div class="stopper"></div>
                                </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="confirm-change-movemment-mode" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- Default -->
    <div class="modal fade" id="modalDefaultMode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Back to default Mode</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                            <div class="modal-body-text"><span id="default-mode-shipname"></span></div>
                            
                        </div>
                        <div class="modal-footer">
                            
                                <div class="title-text fL">Resources Cost:</div>
                                <div class="ratio-item-modal">
                                        <div class="icon-ratio ic-energy"></div>
                                        <div class="title-text fL">2000</div>
                                        
                                        <div class="stopper"></div>
                                    </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="confirm-change-default-mode" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>    
    

    <!-- Modal for Map Position -->
    <!-- Empty Space -->
    <div class="modal fade" id="modal-map-empty" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-map modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalCenterTitle">Location (<span id="location_x-space"></span>,<span id="location_y-space"></span>)</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <img class="modal-img" src="/static/images/empty-space.png">
                            </div>
                            <div class="col-md-5">
                                    <div class="modal-info-title">
                                            Information
                                        </div>
                                        <div class="modal-info-text">
                                                <div class="icon-ratio ic-distance"></div> 
                                                <div class="title-text">distance</div>
                                                <div class="modal-info-data"><span id="distance-to"></span> gdu</div>
                                                <div class="stopper"></div>
                                        </div>
                                        <div class="modal-info-title top18px">
                                            Resource availability
                                        </div>
                                        <div class="modal-info-text">       
                                            <div class="icon-ratio ic-graphene"></div>
                                            <div class="title-text">graphene density</div>
                                            <div class="modal-info-data"><span id="graphene-density"></span></div>
                                            <div class="stopper"></div>
                                        </div>
                                        <div class="modal-info-text">       
                                                <div class="icon-ratio ic-metals"></div>
                                                <div class="title-text">metals density</div>
                                                <div class="modal-info-data"><span id="metals-density"></span></div>
                                                <div class="stopper"></div>
                                        </div>
                                
                            </div>
                        </div>
                        <div class="row down">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                    <div class="modal-info-title">
                                            Your Ship
                                        </div>
                                        <div class="modal-info-text">       
                                            <div class="title-text-no-icon">Movemments Available</div>
                                            <div class="modal-info-data"><span id="move-ship-distance"></span></div>
                                            <div class="stopper"></div>
                                        </div>
                                        <div class="modal-info-text">       
                                            <div class="title-text-no-icon">Status</div>
                                            <div class="modal-info-data"><span id="move-ship-status"></span></div>
                                            <div class="stopper"></div>
                                        </div>
                            </div>
                            <div class="col-md-5">
                                <div class="one-button">
                                    <button type="button" id="move-to-location" class="btn btn-primary">Move To</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Other Ship -->
        <div class="modal fade" id="modal-map-other-ship" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-map modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalCenterTitle">Location (<span id="location_x-ship"></span>,<span id="location_y-ship"></span>)</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <img class="modal-img" src="/static/images/other-ship.png">
                            </div>
                            <div class="col-md-5">
                                <div class="modal-info-title">
                                    <a id="other-ship-name-message" href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Send Message">
                                    <i class="material-icons" id="material-icons-message">
                                        message
                                    </i> <span id="other-ship-name"></span></a>
                                </div>
                                <div class="modal-info-text">       
                                    <div class="icon-ratio ic-distance"></div>
                                    <div class="title-text">distance</div>
                                    <div class="modal-info-data">
                                        <span id="distance-to-ship"></span> gdu
                                    </div>
                                    <div class="stopper"></div>
                                </div>
                                <div class="modal-info-text">       
                                    <div class="title-text-no-icon">Ship Role</div>

                                    <div class="modal-info-data"><span id="other-ship-role"></span></div>
                                    <div class="stopper"></div>
                                </div>
                                <div class="modal-info-text">       
                                    <div class="title-text-no-icon">Ship ID</div>
                                    <div class="modal-info-data"><span id="other-ship-id"></span></div>
                                    <div class="stopper"></div>
                                </div>
                                <div class="modal-info-text">
                                    <div class="title-text-no-icon">Mode</div>
                                    <div class="modal-info-data"><span id="other-ship-mode"></span></div>
                                    <div class="stopper"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row down">
                            <div class="col-md-1" id="pad-no-wopr" style="display: none;"></div>
                            <div class="col-md-4" id="attack-modal-ship">
                                <div class="modal-info-title">
                                    Your Fleet
                                </div>
                                <div class="modal-info-text">       
                                    <div class="title-text-no-icon"><span id="own-fleet-type"></span></div>
                                    <div class="modal-info-data"><span id="own-fleet-size"></span></div>
                                    <div class="stopper"></div>
                                </div>
                                <div class="modal-info-text">       
                                    <div class="title-text-no-icon">Action Ratio</div>
                                    <div class="modal-info-data"><span id="own-fleet-distance"></span></div>
                                    <div class="stopper"></div>
                                </div>
                                <div class="modal-info-text">       
                                    <div class="title-text-no-icon">Loading Capacity</div>
                                    <div class="modal-info-data"><span id="own-fleet-load"></span></div>
                                    <div class="stopper"></div>
                                </div>
                                <div class="modal-info-text">       
                                    <div class="title-text-no-icon">Status</div>
                                    <div class="modal-info-data"><span id="own-fleet-status"></span></div>
                                    <div class="stopper"></div>
                                </div>
                            </div>

                            <div class="col-md-4" id="send-resources-modal-ship">
                                <div class="modal-info-title">
                                    Resource Logistics
                                </div>
                                <div class="modal-info-text">
                                    <div class="icon-ratio-modal ic-energy"></div>
                                    <div class="form-container">
                                        <input type="number" id="energy-to-send" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-info-text">
                                    <div class="icon-ratio-modal ic-graphene"></div>
                                    <div class="form-container">
                                        <input type="number" id="graphene-to-send" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-info-text">
                                    <div class="icon-ratio-modal ic-metals"></div>
                                    <div class="form-container">
                                        <input type="number" id="metals-to-send" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="wopr-modal-ship-cannon">
                                <div class="modal-info-title">
                                    Crypto-Ion Cannon
                                </div>
                                <div class="modal-info-text">
                                    <div class="form-group cannon-mode">
                                        <select class="form-control" id="cannon-target">
                                            <option id="fire-0">Normal - Ship</option>
                                            <option id="fire-1">Solar Panel 1</option>
                                            <option id="fire-2">Solar Panel 2</option>
                                            <option id="fire-3">Solar Panel 3</option>
                                            <option id="fire-4">Solar Panel 4</option>
                                            <option id="fire-5">Solar Panel 5</option>
                                            <option id="fire-6">Solar Panel 6</option>
                                            <option id="fire-7">Graphene Collector</option>
                                            <option id="fire-8">Metal Collector</option>
                                            <option id="fire-9">Warehouse</option>
                                            <option id="fire-10">Hangar</option>
                                            <option id="fire-11">W.O.P.R</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-info-text">       
                                    <div class="title-text-no-icon">Cannon Status</div>
                                    <div class="modal-info-data"><span id="cannon-status">-</span></div>
                                    <div class="stopper"></div>
                                </div>
                                <div class="modal-info-text">       
                                    <div class="title-text-no-icon">Energy to Fire Cannon</div>
                                    <div class="modal-info-data" id="data-cannon-to-fire">-</div>
                                    <div class="stopper"></div>
                                </div>
                                <div class="combo-bottom">
                                    <div class="gauge-cannon gauge-lateral-cannon" data-toggle="tooltip" data-placement="top" title="" data-original-title="% of resource available for fire cannon">
                                    <div class="gauge-reflex"></div>
                                    <div class="gauge-bar energy" id="bar-cannon-to-fire" style="width: 100%;"></div>
                                    <div class="gauge-background"></div>
                                    </div>
                                    <div class="stopper"></div>
                                </div>
                                <div class="modal-info-text">       
                                    <div class="title-text-no-icon">Actual Damage</div>
                                    <div class="modal-info-data" id="cannon-damage-percentage">-</div>
                                    <div class="stopper"></div>
                                </div>
                            </div>
                            <div class="col-md-4" id="wopr-modal-ship-reparer"  style="display:none;">
                                    <div class="modal-info-title">
                                           Ship Reparer
                                    </div>
                                    <div class="modal-info-text">       
                                        <div class="slidecontainer" style="
                                            margin-top: 10px;
                                        ">
                                            <p class="design-tag fL">Ship Fix</p>
                                            <input type="range" min="0" max="100" value="0" class="slider slider-design-fix" id="range-to-repare" style="width: 50%;">
                                            <div class="modal-info-data fR"><span id="data-to-repare">0</span>%</div>                           
                                        </div>
                                    </div>
                                    <div class="modal-info-text">
                                        <div class="icon-ratio-modal ic-energy"></div>
                                        <div class="title-text"> energy cost</div>
                                        <div class="modal-info-data" id="energy-fix-cost">0</div>
                                        <div class="stopper"></div>
                                    </div>
                                    
                                    <div class="modal-info-text">
                                        <div class="icon-ratio-modal ic-graphene"></div>
                                        <div class="title-text" > graphene cost</div>
                                        <div class="modal-info-data" id="graphene-fix-cost">0</div>
                                        <div class="stopper"></div>
                                    </div>
                                    <div class="modal-info-text">
                                        <div class="icon-ratio-modal ic-energy"></div>
                                        <div class="title-text"> metal cost</div>
                                        <div class="modal-info-data" id="metal-fix-cost">0</div>
                                        <div class="stopper"></div>
                                    </div>
                                </div>
                        </div>
                        <div class="row down">
                            <div class="col-md-1" id="pad-no-wopr" style="display: none;"></div>
                            <div class="col-md-4 center" id="attack-modal-ship" >
                                <button id="attack-button" type="button" class="btn btn-primary">Attack</button>
                                <button id="raid-button" type="button" class="btn btn-primary">Raid</button>
                            </div>
                            <div class="col-md-4 center" id="send-resources-modal-ship">
                                <button id="send-resources-button" type="button" class="btn btn-primary">Send Resources</button>
                            </div>
                            <div class="col-md-4 center" id="wopr-modal-ship">
                                <button id="fire-cannon-button" type="button" class="btn btn-primary">Fire Cannon</button>
                                <button id="repare-ship-button" type="button" class="btn btn-primary disabled" style="display: none">Repare Ship</button>
                            </div>
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
            
        <!-- Planet -->
        <div class="modal fade" id="modal-map-planet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-map modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalCenterTitle">Location <span id="planet-location"></span></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <img class="modal-img" src="/static/images/planet.png">
                                </div>
                                <div class="col-md-5">
                                        <div class="modal-info-title"><span id="planet-name"></span></div>
                                            <div class="modal-info-text">       
                                                <div class="icon-ratio ic-distance"></div>
                                                <div class="title-text">Distance</div>
                                                    <div class="modal-info-data"><span id="planet-distance"></span> gdu</div>
                                                    <div class="stopper"></div>
                                            </div>
                                            <div class="modal-info-text">
                                                <div class="title-text-no-icon">Owner</div>
                                                <div class="modal-info-data"><span id="planet-owner"></span></div>
                                                <div class="stopper"></div>
                                            </div> 
                                            <div class="modal-info-text">
                                                <div class="title-text-no-icon">Defenders</div>
                                                <div class="modal-info-data"><span id="planet-defenders"></span></div>
                                                <div class="stopper"></div>
                                            </div>
                                </div>
                            </div>
                            <div class="row down">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                        <div class="modal-info-title">
                                                Your Fleet
                                            </div>
                                            <div class="modal-info-text">       
                                                <div class="title-text-no-icon"><span id="planet-fleet-type"></span></div>
                                                <div class="modal-info-data"><span id="planet-fleet-size"></span></div>
                                                <div class="stopper"></div>
                                            </div>
                                            <div class="modal-info-text">       
                                                <div class="title-text-no-icon">Action Ratio</div>
                                                <div class="modal-info-data"><span id="planet-fleet-distance"></span></div>
                                                <div class="stopper"></div>
                                            </div>
                                            <div class="modal-info-text">       
                                                <div class="title-text-no-icon">Status</div>
                                                <div class="modal-info-data"><span id="planet-fleet-status"></span></div>
                                                <div class="stopper"></div>
                                            </div>
                                </div>
                                <div class="col-md-5">
                                        <div class="modal-info-title">
                                            Your Ship
                                        </div>
                                        <div class="modal-info-text">       
                                            <div class="title-text-no-icon">Action Ratio</div>
                                            <div class="modal-info-data"><span id="planet-ship-range"></span></div>
                                            <div class="stopper"></div>
                                        </div>
                                        <div class="modal-info-text">
                                            <div class="title-text-no-icon">Status</div>
                                            <div class="modal-info-data"><span id="planet-ship-status"></span></div>
                                            <div class="stopper"></div>
                                        </div>
                                </div>
                            </div>
                            <div class="row down">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                        <div class="one-button">
                                        <button type="button" class="btn btn-primary" id="button-attack-planet">Attack</button>
                                        </div>
                                </div>
                                <div class="col-md-5">
                                        <div class="one-button">
                                            <button type="button" class="btn btn-primary" id="button-land-to">Land</button>
                                            <button type="button" class="btn btn-primary" id="button-defend-to">Defend</button>        
                                        </div>

                                </div>
                            </div>
                           
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
        </div>

        <div class="modal fade" id="modal-tx" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Order Submited</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                            <div class="modal-body-text">ORDER: <span id="change mode"></span></div>
                            <div class="modal-body-text">Click <a id="link-to-explorer" href="">here</a> to verify the transaction status in Etherscan</span></div>
                        </div>
                        <div class="modal-footer">
                        
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>    
    


              <!-- Modal for Build -->
<div class="modal fade" id="modal-self-fix" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Reparer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-body">
              <div class="slidecontainer">
                    <p class="build-tag fL">Self Fix: </p>
                    <input type="range" min="0" max="480" value="0" step="1" class="slider-build slider-build-fleet" id="range-self-fix">
                    <p class="fR"><span id="to-fix">0</span>%</p>
            </div>
            </div>
            <div class="modal-footer">
                  <div class="title-text fL">Cost:</div>
                  <div class="ratio-item-modal">
                      <div class="icon-ratio ic-energy"></div>
                      <div class="title-text fL"><span id="energy-fix-self">0</span></div>
                          
                      <div class="stopper"></div>
                  </div> 
                  <div class="ratio-item-modal">
                      <div class="icon-ratio ic-graphene"></div>
                      <div class="title-text fL"><span id="graphene-fix-self">0</span></div>
                      <div class="stopper"></div>
                  </div>
                  <div class="ratio-item-modal">
                      <div class="icon-ratio ic-metals"></div>
                      <div class="title-text fL"><span id="metals-fix-self">0</span></div>
                      <div class="stopper"></div>
                  </div>  
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="button-self-fix" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>
            

<!-- scripts -->
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/cssgame.1.5.js"></script>
<script src="/static/js/backend.js"></script>
<script src="/static/js/cssinit.js"></script>
<script src="/static/js/map.js"></script>
<script>
    window.planetOwner = {{ game_candidate }};
    window.reward = {{ game_reward }};
    window.gameAge = {{ last_block_number }} - {{ game_launch }};
    window.players = {{ game_players }};
    window.blocksToEnd = {{ game_end_block }} - {{ last_block_number }};

    window.DEBUG = true;
    window.gameAddress = "{{ game_address }}";
    window.gameNetwork = {{ game_network }};
    
    window.ship = {{ ship_id }};

    //window.eventsCount = {{ events_count }};
    
    window.position_x = {{ position_x }};
    window.position_y = {{ position_y }};
    window.shipName = "{{ ship_name }}";
    window.qaim = {{ qaim }};
    window.role = {{ role }};

    window.game = {{ game_id }};
    
    window.warehouseLevel = {{ warehouse_level }};
    window.warehouseLoad = CSSGame.getWarehouseLoadByLevel(window.warehouseLevel,{{ game_network }});
    
    // Map
    window.map = {{ map }};
    window.map_center_x = {{ map_center_x }};
    window.map_center_y = {{ map_center_y }};
    window.map_size = {{ map_size }};

    // Ship
    window.mode = {{ mode }};
    window.blocks_to_move = {{ countdown_move }};
    window.blocks_to_mode = {{ countdown_mode }};
    window.blocks_to_fleet = {{ countdown_fleet }};
    window.blocks_to_wopr = {{ countdown_wopr }}
    window.damage = {{ damage }};
    
    window.in_port = {{ in_port | boolean }};

    // Si tiene cañon
    window.role = {{ role }};
    window.cannon_level = ( {{ role }} == 1 ) ? {{ wopr_level }} : 0;
    window.reparer_level = ( {{ role }} == 3 ) ? {{ wopr_level }} : 0;
    window.cannon = window.cannon_level > 0 ? true : false;
    window.reparer = window.reparer_level > 0 ? true : false;
    window.target = 0;
    window.to_fix = 0;

    // Eliminar
    //window.cannon = false;
    //window.cannon_level = 0;
    //window.reparer = true;
    //window.reparer_level = 1;

    // Stock of resources       
    window.grapheneStock = {{ graphene_stock }};
    window.energyStock =  {{ energy_stock }};
    window.metalsStock = {{ metal_stock }};


    window.fleet_size = {{ fleet_size }};
    window.fleet_type = {{ fleet_type }};
    window.fleet_load = {{ fleet_load }};
    window.fleet_distance = {{ fleet_distance }};
    
    // URL
    window.base_url = "{{ base_url }}";
    // window.etherscan_url = "https://kovan.etherscan.io/tx/";
    window.explorer_url = "{{ explorer_url }}";

    // Constants
    window.ATTACK_MODE = 2;
    window.DEFENSE_MODE = 3;
    window.MOVEMMENT_MODE = 1;
    window.DEFAULT_MODE = 0;
    window.ENERGY_TO_CHANGE_MODE = 2000;

    window.gameAbi = {{ game_abi | js}};
</script>
{% endblock %}