{% extends "site/tpl_base.html" %}
{% block content %}
<main id="site-main" role="main">
    <div class="container">
        <div class="main-title">
            <h1>Join Us</h1>
        </div>
        <div class="form-page">
            <div class="metamask">
                <h2>Coming soon in test-net</h2>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf4XIayUvVcEGEjhBj-IagS4_nFxH2T3k56wjaxmPpXaxwdqg/viewform?embedded=true" width="640" height="789" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        </div>
    </div>
</main>
{% endblock %}