{% extends "site/tpl_base.html" %}
{% block content %}
<main id="site-main" role="main">
    <div class="container">
        <div class="main-title">
            <h1>Network</h1>
        </div>
        <div class="form-page">
            <div class="metamask">
                <h2>Change to RSK Testnet to play</h2>
                <!-- <img src="/static/site/images/changenet.png" alt="METAMASK"> -->
                <img src="/static/site/images/rsk-testnet.png" style="max-width:40%;" alt="RSK Testnet Metamask">
                <a href="" class="btn resume-game">How to configure Metamask</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}