{% extends "site/tpl_base.html" %}
{% block content %}
<main id="site-main" role="main">
    <div class="container">
        <div class="main-title">
            <h1>Log in</h1>
        </div>
        <div class="form-page">
            <div class="metamask">
                <img src="/static/site/images/metamask.svg" alt="METAMASK">
                <h2>You need metamask to play</h2>
                <a target="_blank" href="https://metamask.io/" class="btn">INSTALL METAMASK</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}