/* ================================================================
  Fleet
   ================================================================ */

.title-left {

    h1 {
        @include x-rem(font-size, 20px);
        font-weight: $fontWeight-light;
        margin: 0;
        background-image: url('../images/title-line.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left bottom;
        padding: 20px 0 20px 0;
        line-height: 20px;
        margin: 0 0 20px;

        @media (min-width: $bp-m) {
            @include x-rem(font-size, 32px);
            line-height: 40px;
            margin:0;
        }
    }
}

.actual-network {
    background: rgba(132, 141, 196, 0.2);
    background: -moz-linear-gradient(45deg, rgba(132, 141, 196, 0.2) 0%, rgba(132, 141, 196, 0.19) 56%, rgba(212, 222, 238, 0.19) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(132, 141, 196, 0.2)), color-stop(56%, rgba(132, 141, 196, 0.19)), color-stop(100%, rgba(212, 222, 238, 0.19)));
    background: -webkit-linear-gradient(45deg, rgba(132, 141, 196, 0.2) 0%, rgba(132, 141, 196, 0.19) 56%, rgba(212, 222, 238, 0.19) 100%);
    background: -o-linear-gradient(45deg, rgba(132, 141, 196, 0.2) 0%, rgba(132, 141, 196, 0.19) 56%, rgba(212, 222, 238, 0.19) 100%);
    background: -ms-linear-gradient(45deg, rgba(132, 141, 196, 0.2) 0%, rgba(132, 141, 196, 0.19) 56%, rgba(212, 222, 238, 0.19) 100%);
    background: linear-gradient(45deg, rgba(132, 141, 196, 0.2) 0%, rgba(132, 141, 196, 0.19) 56%, rgba(212, 222, 238, 0.19) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848dc4', endColorstr='#d4deee', GradientType=1);
    border: 1px solid #A3B0FF;
    position: relative;
    float: right;
    padding: 20px 30px;
    width: 100%;


    @media (min-width: $bp-m) {
        min-width: 350px;
        max-width: 350px;
    }

    &:before {
        content: '';
        position: absolute;
        background-image: url('../images/info-network-poligon.svg');
        background-repeat: no-repeat;
        background-size: auto;
        width: 30px;
        height: 25px;
        top: 26px;
        left: -15px;
    }

    &:after {
        content: '';
        position: absolute;
        background-image: url('../images/info-network-square.svg');
        background-repeat: no-repeat;
        background-size: auto;
        width: 42px;
        height: 10px;
        top: 10px;
        right: 10px;
    }

    p {
        margin: 0;
        @include x-rem(font-size,
        16px);
        line-height: 20px;
        font-weight: $fontWeight-light;

        span {
            color: $color-fourth;
            font-weight: $fontWeight-semibold;
        }
        &.change {
            color: rgba($color-invert, 0.4);
        }
    }
}

.buy-new-ship {
    width: 100%;
    float: left;
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid $color-invert;

    @media (min-width: $bp-mw) {
        display: flex;
    }

    .buy {
        width: 100%;
        padding: 20px;
        background-color: rgba($color-primary, 0.7);
        float: left;
        margin: 0 0 10px 0;

        @media (min-width: $bp-m) {
            display: flex;
            flex-direction: column;
        }
        @media (min-width: $bp-mw) {
            padding: 30px;
            width: 80%;
            margin: 0 5px 0 0;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }


        h3 {
            text-align: center;
            float: left;
            @include x-rem(font-size,
            26px);
            font-weight: $fontWeight-light;
            margin: 0 0 15px 0;
            width: 100%;

            @media (min-width: $bp-mw) {
                width:auto;
                margin: 0 10px 0 0;
                @include x-rem(font-size,
                24px);
            }


            @media (min-width: $bp-l) {
                @include x-rem(font-size,
                28px);
            }

            @media (min-width: $bp-xl) {
                @include x-rem(font-size,
                32px);
            }
        }


        .sheep-input {
            float: left;
            width: 100%;

            @media (min-width: $bp-mw) {
                width: 60%;
                margin: 0;
            }


            label {
                display: none;
            }

            input,
            select {
                max-width: none;
                width: 100%;
                margin: 0 0 15px;

                @media (min-width: $bp-m) {
                    width: 48%;
                    float: left;
                    margin: 0 5px;
                }
                @media (min-width: $bp-mw) {
                    width: 44%;
                    margin: 0 10px;
                    @include x-rem(font-size,
                    18px);
                }
            }
        }

        p {
            text-transform: uppercase;
            @include x-rem(font-size,
            16px);
            font-weight: $fontWeight-light;
            float: left;
            width: 100%;
            margin: 0;
            text-align: center;

            @media (min-width: $bp-m) {
                padding: 15px 0 0;
                width: auto;
            }
            @media (min-width: $bp-mw) {
                padding: 7px 0 0;
            }

            @media (min-width: $bp-l) {
                @include x-rem(font-size,
                21px);
            }
            @media (min-width: $bp-xl) {
                @include x-rem(font-size,
                24px);
            }



            span {
                font-weight: $fontWeight-medium;
            }
        }
    }
    .buy-button {

        padding: 20px 0;
        line-height: 22px;
        width: 100%;
        height: auto;

        @media (min-width: $bp-mw) {
            width: 20%;
            padding: 40px 0;
        }
    }
}


.no-fleet {
    background-image: url('../images/no-fleet.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    padding: 50px 0;
    justify-content: center;
    min-height: 200px;
    display: flex;
    align-items: center;
    margin: 0;

    @media (min-width: $bp-m) {
        background-size: contain;
        min-height: 400px;
    }

    h2 {
        text-transform: uppercase;
        @include x-rem(font-size,
        30px);
        width: 100%;
        text-align: center;
        margin: 0;

        @media (min-width: $bp-mw) {
            @include x-rem(font-size, 40px);
        }
    }
}

